{% extends "index.html" %}

{% block title %}<title>StefanoMerlo|DISTANCESPIDER</title>{% endblock %}
{% block style %}
<link href='/static/distancespider.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block scripts %}
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkfk0JPQhQxkU288zY4Bm7sxOImmVA1q8&sensor=false">
</script>
<script src='/static/distancespider.js'></script>
{% endblock %}
{% block content %}

<div>
<h1 id="title">Distance Spider</h1>
	</div>
	<div id="user">
        <button type="button" class="create_map" id="display_default_map">display the DEFAULT map</button>
        <input type="text" id="user_lat" placeholder="enter latitude" />
        <input type="text" id="user_lng" placeholder="enter longitude" />
        <button type="button" class="create_map" id="display_coordinates_map">display the custom map based on the coordinates</button>
        <input type="text" id="user_address" placeholder="enter address" />		
		<button type="button" class="create_map" id="display_address_map">display the custom map based on the address</button>
        <input type="text" id="user_direction_address_1" placeholder="enter first address" />
        <input type="text" id="user_direction_address_2" placeholder="enter second address" />
        <button type="button" class="create_map" id="display_directions_map">get directions</button>
	</div>
	<div id="map-canvas"/>

{% endblock %}