<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
{% if dev_workflow_status == "production" %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% else %}
 <script src="/static/jquery.min.js"></script>
{% endif %}
 <link href='/static/main.css' rel='stylesheet' type='text/css'>
 <script src='/static/main.js'></script>
 <title>StefanoMerlo|{{title}}</title>
</head>
<body>
 <h1>Stefano Merlo</h1>
 <!-- <div id="subtitle">Ciò che non è donato è perduto</div> -->
<!--  
 
 <div><canvas id="signature" width="400" height="40"></canvas></div> -->
 
 <ol id="TOC">
  <li id="home"{% if page == "home" %} class="current"{% endif %}>
   <a href="/home">Home<div>[keyboard shortcut: h]</div></a>
  </li>
  <li id="contacts"{% if page == "contacts" %} class="current"{% endif %}>
   <a href="/contacts">Contact me<div>[keyboard shortcut: c]</div></a>
  </li>
  <li id="bouncingball"{% if page == "bouncingball" %} class="current"{% endif %}>
   <a href="/bouncingball">Bouncing Ball<div>[keyboard shortcut: b]</div></a>
  </li>
  <li id="gravity"{% if page == "gravity" %} class="current"{% endif %}>
   <a href="/gravity">Gravity<div>[keyboard shortcut: g]</div></a>
  </li>
  <li id="movebrick"{% if page == "movebrick" %} class="current"{% endif %}>
   <a href="/movebrick">Move the Brick<div>[keyboard shortcut: m]</div></a>
  </li>
  <li id="distancespider"{% if page == "distancespider" %} class="current"{% endif %}>
   <a href="/distancespider">Distance Spider<div>[keyboard shortcut: s]</div></a>
  </li>
  <li id="chat"{% if page == "chat" %} class="current"{% endif %}>
   <a href="/chat">Chat<div></div></a>
  </li></ol>
 <div class="content">
  <div id="canvas_size">
    <label for="canvas_width">Type here canvas width</label>
    <input id="canvas_width" />
    <label for="canvas_height">Type here canvas height</label>
    <input id="canvas_height" />
    <button id="resize_canvas">Go</button>
  </div>
  <div><canvas id="canvas" width="600" height="400"></canvas></div>
 </div>
 
</body>
</html>
