@CHARSET "ISO-8859-1";

html {
    height: 100%;
}

body {
    font-family: 'Sans Serif',Verdana;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
	position: relative;
    }

    header #title {
        position:relative;
        float:left;
        height:70px;
        background-color: #eee;
        margin:.5em;
    }

    header #blog_link {
        position: absolute;
        bottom: 3px;
        text-decoration:none;
        color:red;
    }

    header h1 {
	font-size: 1.5em;
	color: Navy;
    }

    header #subtitle {
        float:left;
        margin:.5em;
    }

    header #subtitle h2 {
        font-size: 1.2em;
        color: #e8a899;
    }

section {
	position: relative;
        clear:both;
    }

    section ol#TOC {
		height: 2em;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0.8em;
		text-align: center
	    }

	    section ol#TOC li {
		background: #aaa 100% 0;
		float: left;
		margin: 0 1px 0 0;
		line-height: 2em;
		padding-left: 10px;
		padding-right: 10px;
	    }

	    section ol#TOC li a {
		color: #111;
		text-decoration: none;
		font-size: 1.2em;
	    }

	    section ol#TOC li a div {
		font-size: 0.8em;
	    }

	    section ol#TOC li.current {
		background-color: #59f;
		background-position: 100% -60px;
		color: #fff;
		font-weight: bold;
	    }

    section div#content {
	position: relative;
        height:450px;
	border: #59f solid 3px;
	padding: 1em;
    }

    section #parameters_box {
	float: left;
	height: 80%;
	padding:.5em;
	margin:.5em;
    }
    
	#parameters_box h3 {
	    font-size:1em;
	    font-color:Navy;
	}

	#parameters_box div {
	    clear:both;
	}

	#parameters_box label {
	    float:left;
	    font-size:.8em;
	}

	#parameters_box input {
	    float:left;
	    height: 1em;
	}
 
    section #canvas_box {
	float: left;
	border: 1px solid green;
    }

    section canvas {
	background-color: WhiteSmoke;
    }

    section #map-canvas {
	height: 100%;
    }

